.edit-address {
  > .header {
    font-family: 'Comfortaa', sans-serif;
    font-size: 1.6rem;
    box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.15);
    margin-bottom: 8px;
    color: $green-2;
    position: sticky;
    top: 0;
    background: #fff;

    > * {
      margin-right: 12px;
    }
  }

  &__form-contact,
  &__form-address {
    > * {
      margin-bottom: 10px;
    }
  }

  &__form-contact {
    border-bottom: 1px solid $grey-1;
  }

  &__form-address {
    display: flex;
    flex-direction: column;
  }

  &__form-btn {
    @include gc-btn-primary;
    padding: 14px;
    margin: 8px 0;
  }

  &__form-title {
    font-size: 1.4rem;

    &--green {
      color: $green-2;
      font-weight: 600;
    }
  }

  &__form-primary {
    display: flex;
    align-items: center;
    margin-left: auto;
    font-size: 1.3rem;

    > div {
      margin-left: 4px;
      color: $grey-2;
    }
  }
}