.reset-password {
  &__form-btn {
    @include gc-btn-primary;
    padding: 14px;
    margin: 8px 0;
  }

  &__error-message {
    font-size: 1.3rem;
    text-align: center;
    background-color: $red-1;
    margin-top: 12px;
    width: 100%;
  }

  form {
    > * {
      margin-bottom: 10px;
    }
  }
}