.form-input {
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;

  > * {
    margin: 0 0 8px;
  }

  > input {
    width: 100%;
    padding: 12px;
    border: 1px solid $grey-1;
    border-radius: 8px;
    box-sizing: border-box;

    &::placeholder {
      color: $grey-1;
      opacity: 1;
    }

  }

  .input-error {
    border: 1px solid $red-3;
  }

  &__error {
    color: $red-3;
    font-size: 1.1rem;
    margin-bottom: 12px;
  }

  &__title {
    font-size: 1.5rem;
  }
}