.bottom-navigation {
  @apply fixed bottom-0 left-0 w-full bg-white border-t border-gray-200 flex justify-between p-4;

  &__observer {
    height: 2px;
    width: 100%;
  }

  .navigator {
    @apply flex flex-col items-center;
    
    > img {
      @apply mb-2;
      width: 24px;
    }

    > small {
      @apply text-sm;
    }
  }
}