.profile-address {
  display: flex;
  flex-direction: column;

  .address-card {
    background: #fff;
    padding: 12px;
    font-size: 1.4rem;
    margin-bottom: 8px;
    border-bottom: 1px solid $grey-1;

    &:first-child {
      border-top: 1px solid $grey-1;
    }

    &__label {
      text-transform: uppercase;
      color: $grey-2;
    }
  
    &__title {
      display: flex;
      align-items: center;
    }
  
    &__receiver {
      font-weight: 800;
    }
  
    &__primary-label {
      font-size: 1.1rem;
      color: $green-2;
      font-weight: 800;
      background: rgba($color: $green-1, $alpha: .2);
      display: flex;
      text-align: center;
      margin-left: 6px;
      padding: 4px 6px;
      border-radius: 12px;
    }
  
    > * {
      margin-bottom: 6px;
    }

    &__action-container {
      display: flex;
      margin-top: 12px;
      text-decoration: none;
      color: $green-2;

      .link {
        text-decoration: none;
        color: $green-2;
      }

      > * {
        margin-right: 10px;
        display: flex;
        align-items: center;

        &:not(:last-child) {
          &::after {
            content: '|';
            color: $grey-2;
            margin-left: 10px;
          }
        }
      }

      .icon {
        margin-right: 4px;
      }
    }
  }

  > .add-address-btn {
    @include btn-secondary;
    width: 75%;
    padding: 8px 14px;
    margin-top: 12px;
    align-self: center;
    box-shadow: none;
  }
}

.delete-address-modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 2;
  background: rgba($color: #000000, $alpha: .2);

  > .mask {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 3;
  }

  .modal-body {
    position: absolute;
    padding: 20px;
    font-size: 1.5rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 12px;
    width: 75%;
    display: flex;
    flex-direction: column;
    z-index: 3;

    > p {
      margin: 12px 0;
    }

    > div {
      margin-left: auto;
      display: flex;
      
      > button {
        &:first-child {
          @include btn-secondary;
          padding: 8px 14px;
          margin-right: 12px;
        }

        &:nth-child(2) {
          @include btn-primary;
          padding: 8px 14px;
        }
      }
    }
  }
}
